body {
  background-color: rgb(237, 244, 245);
  margin-top: 7vh;
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: sans-serif;
}

h1 {
  color: rgb(44, 130, 201);
  font-size: 45px;
  height: 30px;
  margin-top: 10px;
}

.loginbox {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 275px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin-top: 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

h3 {
  color: rgb(0, 0, 0);
  margin-top: 1vh;
  font-weight: 100;
}

::placeholder {
  color: rgb(180, 178, 178);
  font-size: 15px;
  padding: 5px;
}

input {
  padding: 19px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
input:focus {
  outline: none;
}

button {
  background-color: rgb(31, 143, 248);
  margin-top: 9px;
  padding: 12px;
  border-radius: 6px;
  border-color: rgb(31, 143, 248);
}

button,
.login {
  color: white;
  font-size: 20px;
  font-weight: bolder;
  outline: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: rgb(12, 122, 224);
  transition: 0.2s;
}

a {
  margin-top: 20px;
  color: rgb(31, 143, 248);
  text-decoration: none;
  font-size: 15px;
}

a:hover {
  text-decoration: underline;
}
